<nav class="navbar text-muted">
  <span class="logo">
    LOGO
  </span>

  <div class="categories">
    <span class="category text-primary">Home</span>
    <% Category.categories_name.each do |category| %>
      <%= content_tag(:span, category, class: "category") %>
    <% end %>
  </div>

  <div class="user-interaction">
    <span>LOGIN</span>
    |
    <span>REGISTER</span>
  </div>

</nav>

