<%= render 'header' %>
<div class="main">
  <div class="container-fluid d-flex flex-column">
    <div class="row top-row">

      <div class="col-9 d-flex justify-content-end flex-column">
        <h2 class="text-primary d-block">
          <%= Article.most_voted.title %>
        </h2>
        <p class="m-0 p-0 d-block">
          <%= Article.most_voted.text %>
        </p>
      </div>
      <div class="col-3">
      </div>
    </div>
    <div class="row bottom-row">
      <div class="col-3">
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>
</div>
