<%= render 'header' %>
<div class="main">
  <div class="container-fluid d-flex flex-column">
    <div class="row top-row">
      <div class="col-9">
        &nbsp;
      </div>

      <div class="col-3">
        &nbsp;
      </div>
    </div>
    <div class="row bottom-row">
      <div class="col-3">

        &nbsp;
      </div>
      <div class="col-3">

        &nbsp;
      </div>
      <div class="col-3">

        &nbsp;
      </div>
      <div class="col-3">

        &nbsp;
      </div>
    </div>
  </div>
</div>
