$font-family-sans-serif: 'Cabin';
$margin-width: 8px;
$primary: #f76208;
$secondary: #efee18;
$margin-color: #4e443f;
$light: #ccc;
$navbar-height: 80px;
$main-height: calc(100vh - #{$navbar-height} - (#{$margin-width} * 2));
