@import "utilities/variables";

.main {
  height: calc(100vh + 8px - #{$navbar-height} - (#{$margin-width} * 2));
}

.top-row {
  height: 66.666%;
}

.m-brown {
  border: $margin-width solid $margin-color;
}

.notice {
  position: absolute;
}

.alert {
  position: absolute;
}

h2 {
  font-size: 1em;
  font-weight: 700;
  color: white;
}

footer {
  height: 80px;
  background-color: $margin-color;
}

footer > * {
  positon: relative;
  top: $margin-width;
}

footer * {
  font-size: 0.85em;
}

footer > .center > * {
  display: inline-block;
  margin: 0 7px 0 7px;
}

.text-brown {
  color: $margin-color;
}

.user-interaction > *:not(:last-child) {
  border-right: 1px solid $light;
  margin-right: 0.4em;
  padding-right: 0.4em;
}

.user-interaction li {
  line-height: 1em;
}
