@import url('http://fonts.googleapis.com/css?family=Cabin:400, 300, 700');

$font-family-sans-serif: 'Cabin';
$navbar-height: 80px;
$primary: #f76208;

@import 'bootstrap';
@import 'header';
@import 'articles';

h2 {
  font-size: 1em;
  font-weight: 700;
}

.notice {
  position: absolute;
}

.alert {
  position: absolute;
}

.category {
  text-transform: uppercase;
}

.main {
  display: grid;
}
