@import url('http://fonts.googleapis.com/css?family=Cabin:400, 300, 700');

$font-family-sans-serif: 'Cabin';
$navbar-height: 80px;
$primary: #f76208;
$secondary: #efee18;

@import 'bootstrap';
@import 'header';
@import 'articles';
@import 'categories';

.notice {
  position: absolute;
}

.alert {
  position: absolute;
}

h2 {
  font-size: 1em;
  font-weight: 700;
  color: white;
}
