.wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  border: 2px solid red;
}

.article-container {
  border: 1px solid red;
}

.article {
  display: flex;
  height: 100%;
}

.square {
  border: 1px solid black;
  margin-bottom: auto;
  height: 100%;
  width: 50%;
}

.square .name {
  color: $primary;
  font-size: 1.1rem;
  font-weight: 700;
}

.name::after {
  $overflow: 10px;

  position: relative;
  top: 2px;
  right: $overflow/2;
  display: block;
  content: '';
  border-bottom: 2px solid $primary;
  width: calc(100% + #{$overflow});
}
