.wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
}

.article-container {
}

.article {
  display: flex;
  height: 100%;
}

.square {
  border: 1px solid black;
  margin-bottom: auto;
  height: 100%;
  width: 50%;
}

.square .name {
  color: $primary;
  font-size: 1.1em;
  font-weight: 700;
}

.name::after {
  position: relative;
  top: 2px;
  display: block;
  content: '';
  border-bottom: 2px solid $primary;
  width: calc(100%);
}

.article-title {
  font-size: 1em;
  font-weight: 700;
}
