.navbar {
  display: flex;
  border: 1px solid #ccc;
  height: $navbar-height;
}

.category {
  color: $margin-color;
}

.category,
.link {
  margin: 0 3px 0 3px;
  font-size: 0.8em;
  font-weight: 700;
}

.category:hover {
  color: $primary;
}

.link {
  color: $primary;
  text-transform: uppercase;
}
