<div class="wrapper">
  <% @articles.each do |article| %>
    <div class="article-container d-inline-block w-50 m-0 p-0">
      <div class="article">
        <div class="square"></div>
        <div class="square">
          <h2 class="name d-inline-block p-3">
            <%= @category.name %>
          </h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
