<footer class="d-flex justify-content-between align-items-center p-4">
  <div></div>
  <div class="center">
    <a href="">Privacy Policy</a>
    <a href="">Terms and Conditons</a>
    <span class="text-white">Copyright 2014. All rights reserved.</span>
  </div>
  <div></div>
</footer>
